.hero{
  background-image:linear-gradient(rgba(18, 60, 149, 0.9), rgba(14, 19, 60, 0.9)), url("images/people.png");
  background-repeat: no-repeat;
  background-size:cover;
}
.hero2{
  background-image:linear-gradient(rgba(18, 60, 149, 0.9), rgba(14, 19, 60, 0.9)), url("images/phone.png");
  
  background-size: cover;
}

.foot{
  background-color: rgb(7, 7, 37);
}
@media (max-width:800px) {
  .hero{
    background-size:auto;
  }
}


